* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0px;
margin: 0px;
box-sizing: border-box;    
}

body {
    font-family: "Inter", sans-serif;
      color: #303030;
}

header {
    /* Стили для хедера */
    background-color: rgba(41, 101, 241, 1);
    height: 70px;

    padding: 23px 1294px 23px 0px;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    color:rgb(255, 255, 255);
    font-weight: 700px;
    font-size: 20px;
}

.main-section {
    /* Стили для первой секции */
    background-color: rgba(250, 250, 255, 1);
    padding: 60px 0px;
    min-height: 100vh;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700px;
    font-size: 48px;
    margin-bottom: 20px;
    color: rgba(48, 48, 48, 1);
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400px;
    font-size: 18px;
    color: rgba(48, 48, 48, 1);
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
}

select {
    /* Стили для выпадающего списка */
}

.section-title {
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}